In [1]:
from twython import Twython
import requests
import pandas as pd

In [2]:
APP_KEY = 'P1HzTo2vebuojpEzgfa6219Pn'
APP_SECRET = 'EcGFaCAqohZI67cpOI8YVPp4BvkJhPGKOxAFo3N1gmt94cuGgZ'

twitter = Twython(APP_KEY, APP_SECRET)
auth = twitter.get_authentication_tokens()

In [3]:
OAUTH_TOKEN = auth['oauth_token']
OAUTH_TOKEN_SECRET = auth['oauth_token_secret']

In [4]:
python_tweets = Twython(APP_KEY, APP_SECRET)

In [11]:
max_id = ""
tweets = python_tweets.search(q='tesla', result_type='mixed', count=10000, max_id=max_id)

In [12]:
def get_data(tweet):
    data = {
        'id': tweet['id_str'],
        'created_at': tweet['created_at'],
        'text': tweet['text']
    }
    return data

In [13]:
df = pd.DataFrame()
for tweet in tweets['statuses']:
    row = get_data(tweet)
    df = df.append(row, ignore_index=True)

In [14]:
df

,id,created_at,text
0,1441089942520668168,Thu Sep 23 17:19:51 +0000 2021,AOC Unveils Custom 'Tax The Rich' Tesla\nhttps...
1,1441272289484414976,Fri Sep 24 05:24:26 +0000 2021,Tesla buys Bitcoin.\n\nEl Salvador adopts Bitc...
2,1441056060891189252,Thu Sep 23 15:05:13 +0000 2021,my @teslaâ€™s USB outlet shot out of my dashboar...
3,1441488348288278534,Fri Sep 24 19:42:58 +0000 2021,@KatiHolz3 @EbenbergerStock Auch wenn ich Tesl...
4,1441488323713900544,Fri Sep 24 19:42:52 +0000 2021,RT @qedx_: Here we have @elonmusk demonstratin...
...,...,...,...
95,1441487719264305152,Fri Sep 24 19:40:28 +0000 2021,@elonmusk you need yo get Tesla model x in @Cr...
96,1441487718501031936,Fri Sep 24 19:40:28 +0000 2021,RT @KobraToldya: @harmlesskarl @Tesla I instal...
97,1441487715111821316,Fri Sep 24 19:40:27 +0000 2021,RT @qedx_: Here we have @elonmusk demonstratin...
98,1441487713421647872,Fri Sep 24 19:40:27 +0000 2021,She popped a Tesla now she feel electricðŸ’Š
99,1441487708682076162,Fri Sep 24 19:40:25 +0000 2021,@elonmusk @thesheetztweetz #KISHU @InuKishu el...